{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <p>Welcome to our comments section.</p>
    <a href="{{ path('comments_new') }}">Create new</a>
{% endblock %}
